.base_content{width:800px;}
.base_style .util_btn{margin-left: -45px;margin-top: 28px;}
.base_style{padding: 0px;font-family:'微软雅黑', '黑体','Arial Unicode MS';font-size:18px;}
.base_style:after{content: ".";display: block;height: 0;clear: both; visibility: hidden;}/*用来撑开base_style*/
.base_style input{font-size:inherit;background:none;border:none;width:inherit;height:inherit;font-weight:inherit;font-family:inherit;color:inherit;}

/*姓名和求职目标*/
.base_style .nameTitle{float: right;padding:46px 440px 10px 0;}
.base_style h1{width:280px;font-size:52px;}
.base_style h2{width:280px;}
.base_style .base_title{width:300px;float:left;overflow:hidden;}
.base_style .base_title .base_msg{margin-top:10px;}
.base_style .base_title .base_msg ul li{padding:16px 0;color: #eee;}
.base_style .base_title .base_msg ul li input{font-size:inherit;color:inherit;background:none;border:none;width:inherit;height:inherit;font-weight:inherit;font-family:inherit;}
.base_style .base_title .base_msg ul li div{width:170px;display:inline-block;padding:2px 40px;line-height:28px;margin:4px 0;}
.base_style .base_title .base_head{height:200px;margin:16px 0;width:150px;margin-top:62px;}
.base_style .base_title .base_head img{height:200px;width:150px;;z-index:10001;}
.base_style .base_title .base_head .head_notice{margin-top:-25px;z-index:10002;}
.base_style .base_title .base_head:hover .head_notice{display:block;}
.base_style .base_content{float:right;color:#000;margin-top:65px;}
.base_style .base_content .msg_title{height:30px;margin:16px 0 0 0;height:33px;line-height:33px;padding-left: 45px;margin-left: -45px;}
.base_style .base_content .msg_title .msg_title_company{width:226px;}
.base_style .base_content .msg_title .msg_title_post{width:180px;}
.base_style .base_content .msg_title .msg_title_company,.base_style .base_content .msg_title .msg_title_post{color:#000;font-weight:bold;}
.base_style .base_content dl{padding-left:30px;}
.base_style .base_content dl dt{color:#454545;margin-bottom:15px;}
.base_style .base_content dl dd{margin-bottom:25px;margin-left: 45px;}
.base_style .base_content dl dt span{width: auto;background:#eeeeee;width:95px;}
.base_style .edit_border p{color:#454545;}
.base_style .edit_area{padding:0;margin:0 50px;}
.base_style .ico{display:none;}
/*这两行用来消除编辑时的折角*/
.base_style .edit_item:hover .edit_area:before, .base_style .edit_item:hover .edit_area:after{background:rgba(0, 0, 0, 0);-webkit-box-shadow:0 15px 10px rgba(0,0,0, 0);box-shadow:0 15px 10px rgba(0, 0, 0, 0);}
.base_style .hover .edit_area:before, .base_style .hover .edit_area:after{background:rgba(0, 0, 0, 0);-webkit-box-shadow:0 15px 10px rgba(0,0,0, 0);box-shadow:0 15px 10px rgba(0, 0, 0, 0);}
.base_style .edit_item .delete{margin-top:5px;left: 14px;}
.base_style .edit_custom .delete{margin-top:8px;}

/************************jm0206主题模板J1****************/
.j1{background:url(../images/jm0206/j1_bg.png);color:#454545;}
.j1 .nameTitle h1{color:#454545;}
.j1 .nameTitle h2{color:#454545;}
.j1 .base_title .base_head{border:8px solid rgba(255,255,255,0.2);}
.j1 .base_title .base_msg ul li div.base_age{background:url("../images/common/2e3d9d/age.png") no-repeat left center;}
.j1 .base_title .base_msg ul li div.base_address{background:url("../images/common/2e3d9d/address.png") no-repeat left center;}
.j1 .base_title .base_msg ul li div.base_mobile{background:url("../images/common/2e3d9d/mobile.png") no-repeat left center;}
.j1 .base_title .base_msg ul li div.base_email{background:url("../images/common/2e3d9d/email.png") no-repeat left center;}
.j1 .base_content dt{background:#2e3d9d;}
.j1 .base_content .msg_title{background:url(../images/jm0206/j1_icon.png) no-repeat 0px;}
.j1 .edit_border:focus{border:1px dashed #5CA9FF;}
/************************jm0206主题模板J1****************/
.j2{background:url(../images/jm0206/j2_bg.png);color:#454545;}
.j2 .nameTitle h1{color:#454545;}
.j2 .nameTitle h2{color:#454545;}
.j2 .base_title .base_head{border:8px solid rgba(255,255,255,0.2);}
.j2 .base_title .base_msg ul li div.base_age{background:url("../images/common/766751/age.png") no-repeat left center;}
.j2 .base_title .base_msg ul li div.base_address{background:url("../images/common/766751/address.png") no-repeat left center;}
.j2 .base_title .base_msg ul li div.base_mobile{background:url("../images/common/766751/mobile.png") no-repeat left center;}
.j2 .base_title .base_msg ul li div.base_email{background:url("../images/common/766751/email.png") no-repeat left center;}
.j2 .base_content dt{background:#766751;}
.j2 .base_content .msg_title{background:url(../images/jm0206/j2_icon.png) no-repeat 0px;}
.j2 .edit_border:focus{border:1px dashed #61B300;}
/************************jm0206主题模板J1****************/
.j3{background:url(../images/jm0206/j3_bg.png);color:#454545;}
.j3 .nameTitle h1{color:#454545;}
.j3 .nameTitle h2{color:#454545;}
.j3 .base_title .base_head{border:8px solid rgba(255,255,255,0.2);}
.j3 .base_title .base_msg ul li div.base_age{background:url("../images/common/278b9d/age.png") no-repeat left center;}
.j3 .base_title .base_msg ul li div.base_address{background:url("../images/common/278b9d/address.png") no-repeat left center;}
.j3 .base_title .base_msg ul li div.base_mobile{background:url("../images/common/278b9d/mobile.png") no-repeat left center;}
.j3 .base_title .base_msg ul li div.base_email{background:url("../images/common/278b9d/email.png") no-repeat left center;}
.j3 .base_content dt{background:#278b9d;}
.j3 .base_content .msg_title{background:url(../images/jm0206/j3_icon.png) no-repeat 0px;}
.j3 .edit_border:focus{border:1px dashed #FF5050;}